---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Mission from '../components/Mission.astro';
import Services from '../components/Services.astro';
import Elements from '../components/Elements.astro';
import Insights from '../components/Insights.astro';
import Newsletter from '../components/Newsletter.vue';
import Footer from '../components/Footer.astro';
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Mission />
    <Services />
    <Elements />
    <Insights />
    <Newsletter client:visible />
  </main>
  <Footer />
</BaseLayout>
